<ion-header>
    <ion-navbar class="headerNav">
        <ion-buttons start>
            <ion-icon name="ios-settings-outline"></ion-icon>
        </ion-buttons>
        <ion-title>
            Groceries
        </ion-title>
        <ion-buttons end>
            <ion-icon name="ios-create-outline"></ion-icon>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf = "!view">
        <ion-item-divider *ngFor="let item of items" class="item" (swipe)="swipeEvent(item)">
            <ion-icon name="ios-cart-outline" item-start *ngIf="item.status"></ion-icon>
            <ion-icon name="ios-home-outline" class="home" item-end *ngIf="!item.status"></ion-icon>
            <span class="titleName"> {{item.title}}</span>
        </ion-item-divider>
    </ion-list>
    <ion-list  *ngIf = "view">
        <ion-item-divider *ngFor="let item of basket" class="item" (swipe)="swipeEvent(item)">
            <ion-icon name="ios-cart-outline" item-start *ngIf="item.status"></ion-icon>
            <ion-icon name="ios-home-outline" class="home" item-end *ngIf="!item.status"></ion-icon>
            <span class="titleName"> {{item.title}}</span>
        </ion-item-divider>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
            <ion-buttons start>
                <button ion-button clear color="dark" (click)="showAllItems()">
                    <ion-icon name="ios-list-outline"></ion-icon>
                </button>
            </ion-buttons>
            <ion-buttons end>
                <button ion-button clear color="dark" (click)="showBasket()">
                    <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
                </button>
            </ion-buttons>
    </ion-toolbar>
</ion-footer>
